body{
    margin-left:1vw;
    margin-right:1vw;
    display:flex;
    flex-direction: column;
    font: 15px/1 IBM Plex Mono, Helvetica, monospace;
    background-color: #5A7A63;
}
h1{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 4vw;
    color: #FFFFFF;
}
h2{
    font-size: 2vw;
    color: #FFFFFF;
}
h3{
    font-size: 1vw;
    color: #FFFFFF
}

img{
    width:100%;
    max-width: 100%;
}

.set-left{
    margin-left: 1vw;
    margin-right: 20%;
    text-align: start;
}

.set-right{
    margin-left: 20%;
    margin-right: 1vw;
    text-align: end;
}

.sticky_head{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #5A7A63;
}

.main{
    margin-top: 260px;
}

@media screen and (max-width: 600px) {
    #menus{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        flex-wrap: wrap;
    }

}

footer{
    font-size: 10px;
    margin-right:10px;
    padding:10px;
    text-align: right;
}