body{
    display:flex;
    flex-direction: column;
    font: 15px/1 IBM Plex Mono, Helvetica, monospace;
    background-color: #5A7A63;
}
h1{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 54px;
    color: #FFFFFF;
}
h2{
    font-variant: all-small-caps;
    font-size: 24px;
    color: #FFFFFF;
}
h3{
    font-size: 18px;
    color: #FFFFFF
}

.container{
    width:90%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.container #blurb{
    text-align: center;
    width:100%;
}

@media screen and (max-width: 600px) {
    #menus{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        flex-wrap: wrap;
    }

}

header{
    display: flex;
    height:200px;
}

footer{
    font-size: 10px;
    margin-right:10px;
    padding:10px;
    text-align: right;
}